<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MergeHelper.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MergeHelper.Preferences>
            <setting name="PACKAGE_PATH" serializeAs="String">
                <value>D:\WS\TH_HSP150001_All\src\HM\Xdd\mddp_HSP_V15_1_0238_002_Softstarter_3RW5_V15.1.0.0.xml</value>
            </setting>
            <setting name="WM5_PATH" serializeAs="String">
                <value>D:\WS\WM5_WinCC_HW_Work</value>
            </setting>
            <setting name="CHANGESET_START" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HSP_XDD_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="MDD_CONVERTER_EXE" serializeAs="String">
                <value>src\HWCN\XDDINTT\MddConverter2Mdd3\Siemens.Simatic.Hwcn.Interpreter.mdddllconverter.exe</value>
            </setting>
            <setting name="MDD_CONVERTER_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPARISON_SOURCE_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPARISON_TARGET_FOLDER" serializeAs="String">
                <value>src\HM\Xdd3</value>
            </setting>
            <setting name="PACKAGE_NAME" serializeAs="String">
                <value>mddp_HSP_V15_1_0238_002_Softstarter_3RW5_V15.1.0.0.xml</value>
            </setting>
            <setting name="CHANGESET_END" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HSP_XDDSHPASS1_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="HSP_PATH" serializeAs="String">
                <value>D:\WS\TH_HSP150001_All</value>
            </setting>
            <setting name="HSP_TOOLTIPS_OTHER" serializeAs="String">
                <value>languages\Simatic\Common\Tooltips</value>
            </setting>
            <setting name="HSP_TOOLTIPS_ENGLISH" serializeAs="String">
                <value>src\Simatic\Common\Tooltips\en-US</value>
            </setting>
            <setting name="TOOLTIP_FILE_PATTERN" serializeAs="String">
                <value>CTHWCSOSTES3RW5*.zip</value>
            </setting>
            <setting name="WM5_TOOLTIPS_OTHER" serializeAs="String">
                <value>languages\Simatic\Common\Tooltips</value>
            </setting>
            <setting name="WM5_TOOLTIPS_ENGLISH" serializeAs="String">
                <value>src\Simatic\Common\Tooltips\en-US</value>
            </setting>
        </MergeHelper.Preferences>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>